@use "../_modules/vars" as *;

.choose-id {
    margin-top: $app-margin-top;
    position: relative;
    
    &__runner,
    &__coorp{
        position: relative;
        width: 100%;
        padding: $gap;
        // height: calc((100vh - $app-margin-top - $gap * 4) / 2);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    
        --aug-border-all: var(--hudbd);
        --aug-border-bg: var(--lightcolor);
    
        &:active {
            background-color: var(--lightcolor);
            color: #000;
        }
    }
    
    &__runner {
        margin-bottom: $gap;
    }
    &__text {
        position: relative;
        display: inline-block;
        padding: 2rem $space * 3;
        
        --aug-inlay: initial;
        --aug-inlay-bg: var(--inlaycolor);
    }

    .aug-element-1 {
        position: absolute;
        width: 50%;
        height: 15px;
        top: .5rem;
        left: 11rem;

        --aug-border: initial;
        --aug-inlay-bg: var(--hudcolor);
        --aug-border-bg: var(--lightcolor);
        --aug-clip-bl1: initial;
        --aug-border-top: 0px;
        --aug-border-left: 1px;
        --aug-border-right: -1px;
        --aug-border-bottom: 1px;
        
        &:before { 
            position: absolute;
            width: 50px;
            height: 20px;
            background-color:  var(--lightcolor);
            transform: skew(45deg);
            content: '';
        }
    }
    
}

