@use "../_modules/vars" as *;

.choose-id {
    margin-top: $app-margin-top;
    position: relative;
    
    &__runner,
    &__corp,
    &__desc {
        position: relative;
        width: 100%;
        padding: $gap;
        // height: calc((100vh - $app-margin-top - $gap * 4) / 2);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    
        --aug-border-all: var(--hudbd);
        --aug-border-bg: var(--lightcolor);
    
        &:active:not(.choose-id__desc) {
            background-color: var(--lightcolor);
            color: #000;
        }
    }
    
    &__runner,
    &__corp {
        margin-bottom: $gap;
    }
    &__text {
        position: relative;
        display: inline-block;
        padding: 2rem $space * 3;
        
        --aug-inlay: initial;
        --aug-inlay-bg: var(--inlaycolor);
    }

    &__desc {
        --aug-border-bg: var(--hudcolor);

        &-text {
            margin-left: $space--big;
        }

        .aug-element-2 {
            height: 7px;
            margin-left: $space--small;
        }
    }
}

