@use "../_modules/vars" as *;

.player-aid {
    display: none;
    margin-top: $app-margin-top;
    padding: $gap;
	

    .player-actions {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;

        &.show { display: flex;}

        li {
            padding: $gap * 2;
            margin-bottom: $gap;

            --aug-border-all: 1px;
            --aug-border-bg: rgba(255, 255, 255, .1);
        }

        &--coorp {
            // App initial value
            display: none;
        }
    }
}

