@use '../_modules/vars' as *;
@use "../_mixins/include-mediaa" as *;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
	font-size: 100%;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	background-image: var(--bg-theme);
	position: relative;
	padding: 0;
	margin: 0;

	@include media('>desktop') {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.container {
	width: 100vw;
	height: calc(100vh - $app-margin-top);
	padding: $gap;
	position: relative;

	@include media('>=desktop') {
		max-width: $max-content-width;
		max-height: 1024px;
	}
}

.sections {
	section {
		display: none;

		&.show {
			display: grid;
		}
	}
}

.credits {
	display: none;
	margin-top: $app-margin-top ;
}