@use "../_modules/vars" as *;
.svg {
    &-click,
    &-credit,
    &-memory,
    &-tag,
    &-damage,
    &-publi {
        width: 50%;
        max-height: 60%;

        &__fill {
            fill: rgba(255, 255, 255, 0.75);
        }
    }

    &--text {
        height: $font-size-default;
        vertical-align: middle;
        filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(106%) contrast(100%);
    }
}
