/*--------------------------------------------------------*\
    BUTTONS
\*--------------------------------------------------------*/

.button {
    padding:$space / 2;

    &--tracks {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: $space / 3;
    }
}