@use "../_modules/vars" as *;
@use "../_mixins/box-shadow" as *;
/*--------------------------------------------------------*\
    BUTTONS
\*--------------------------------------------------------*/

.button {
    padding: .2rem;
    width: max-content;
    cursor: pointer;

    &:active {
        @include box-shadow;
    }

    &--tracks {
        background-color: rgba(255, 255, 255, .1);
        border-radius: $bdr;
        width: max-content;
    }
}
