@use "../_modules/vars" as *;

.choose-id {
    margin-top: $app-margin-top;
    
    &__runner,
    &__coorp{
        position: relative;
        width: 100%;
        padding: $gap;
        height: calc((100vh - $app-margin-top - $gap * 4) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    
        --aug-border-all: 1px;
        --aug-border-bg: rgba(255, 255, 255, .1);
    
        &:active {
            background-color: var(--lightcolor);
            color: #000;
        }
    }
    
    &__runner {
        margin-bottom: $gap;
    }
    &__text {
        position: relative;
    }
    
}

