@use "../_mixins/include-mediaa" as *;
@use "../_modules/vars" as *;

.tracks {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: repeat(1fr, 4); 
    gap: $gap; 
    grid-template-areas: 
        "clicks"
        "credits"
        "memory"
        "tags" 
        "damage"; 
    
    @include media('<desktop','landscape') {
        grid-template-columns: calc(100vw/3) calc(100vw - (100vw/3)); 
        grid-template-rows: calc(100vh/4); 
        gap: 1vh; 
        grid-template-areas: 
        "clicks credits"
        "clicks memory"
        "clicks tags"
        "clicks damage";
    }
}

.tracks-clicks { grid-area: clicks; }
.tracks-credits { grid-area: credits; }
.tracks-memory { grid-area: memory; }
.tracks-tags { grid-area: tags; }
.tracks-damage { grid-area: damage; }

// Augmented-ui
.tracks-clicks,
.tracks-credits,
.tracks-memory,
.tracks-tags,
.tracks-damage {
    --aug-border: initial;
    --aug-border-bg: rgba(255, 255, 255, .1);
    --aug-border-all: 2px;
    --aug-clip-tl1: initial;
    --aug-clip-br1: initial;
    --aug-clip-bl1: initial;
    --aug-tl1: 10px;
    --aug-tr1: 20px;
    --aug-br1: 20px;
    --aug-bl1: 20px;
}

// Clicks
.tracks-clicks {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    // Distancia para el menu
    margin-top: $app-margin-top;
    height: $click-height;

    @include media('<desktop','landscape') {
        flex-direction: row;
        gap: 1vw;
        justify-content: space-evenly;
        align-items: flex-start;
        width: auto;
        height: 100vh;
    }

    &__row {
        display: flex;
        gap: 3vw;
        margin-top: 0;
        

        @include media('<desktop','landscape') {
            flex-direction: column;
            gap: 1vw;
            margin-bottom: 0;
        }
    }
}

.click {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, .2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;


    &-animation {
        width: 20vw;
        height: 20vw;
        display: none;
        align-items: center;
        justify-content: center;
        animation: rotation 3s linear infinite;
        position: relative;
        
        &:after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20vw;
            height: 20vw;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 3px solid;
            border-color: $lightblue transparent;
            
            @include media('<desktop','landscape') {
                width: 20vh;
                height: 20vh;
            }
        }

        @include media('<desktop','landscape') {
            width: 20vh;
            height: 20vh;
        }
    }

    @include media('<desktop','landscape') {
        width: 20vh;
        height: 20vh;
    }


    &.selected {
        .click-animation {
            animation: rotation 3s linear infinite;
            display: flex;
            position: absolute;
        }

        svg {
            display: none;
        }
    }

    &-number {
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0 0 10px #fff;
    }
}

// Credits

.tracks-credits,
.tracks-memory,
.tracks-tags,
.tracks-damage
 {
    padding: $space;
    width: 100%;
    // height: calc(((100vh - $gap * 6) - $click-height - 6vh) / 4 );
    height: $click-height;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include media('<desktop','landscape') {
        width: calc(100vw - (100vw / 3));
        height: calc(100vh / 4);
    }

    input {
        appearance: textfield;
        -moz-appearance: textfield;
        font-weight: bold;
        &:focus-visible {
            outline: 0;
            border: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        width: 100%;
    }

    // input
    &__amount {
        height: calc((100vh / 4) / 3);
        padding: 0 $space;
        line-height: 1;
        font-size: $font-size-big;
        width: calc(100vw/3);
        background: $hudwhite;
        border: 0;
        color: #fff;
        font-family: $font-family;
    }
}



// ANIMATIONS
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
