@use '../_modules/vars' as *;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

/* Small screens (default) */

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

body {
    min-height: 100%;
    background-image: $bg;
    position: relative;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
  position: relative;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
}

.player-aid {
    display: none;
}