@use '../_modules/vars' as *;
@use "../_mixins/include-mediaa" as *;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    font-size: 100%;
}

/* Small screens (default) */

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	background-image: $bg;
	position: relative;
	padding: 0;
	margin: 0;
}

.container {
	width: 100vw;
	padding: $gap;
	position: relative;
}

.menu-button {
	position: absolute;
	left: 0;
	top: 0;
}

.menu {
	position: absolute;
	left: 0;
	top: 0;
}

.player-aid {
    display: none;
}
