@use '../_modules/vars' as *;
@use "../_mixins/include-mediaa" as *;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
	font-size: 100%;
}

/* Small screens (default) */

/* Medium screens (640px) */
@media (min-width: 40rem) { 
	html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	background-image: $bg;
	position: relative;
	padding: 0;
	margin: 0;

	@include media('>desktop') {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.container {
	width: 100vw;
	height: calc(100vh - $app-margin-top);
	padding: $gap;
	position: relative;

	@include media('>desktop') {
		max-width: 768px;
		max-height: 1024px;
	}
}

.sections {
	section {
		display: none;

		&.show {
			display: grid;
		}
	}
}

.credits {
	display: none;
	margin-top: $app-margin-top ;
}