@use "../_modules/vars" as *;
@use "../_mixins/include-mediaa" as *;

/*--------------------------------------------------------*\
    TYPOGRAPHY
\*--------------------------------------------------------*/


/**
* Definición de tipografía y tamaños
*/

body {
    font-family: $font-family;
    color: #fff;
    text-shadow: 0 0 5px #C8C8C8;
}

.section-title {
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: $space;

    @include media('<desktop','landscape') {
        margin-bottom: 0;
    }
}
